<div class="container">
<ng-container *ngIf="accountsObservable | async as accountsCustomer">
  <div class="card mt-2">
    <div class="card-header">Accounts of {{customer.name}}</div>
    <div class="card-body">
      <table class="table">
        <thead>
        <th>Type</th><th>ID</th><th>Balance</th><th>Date Creation</th><th>Status</th><th>Interest Rate</th><th>Over Draft</th>
        </thead>
        <tbody>
        <tr *ngFor="let account of accountsCustomer">
          <td>{{account.type}}</td>
          <td>{{account.id}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.createdDate |  date:'dd/MM/yyyy:HH:mm:ss'}}</td>
          <td>{{account.status}}</td>
          <td>{{account.interestRate}}</td>
          <td>{{account.overDraft}}</td>
          <td>
            <button (click)="handleOperations(account)" class="btn btn-primary">Operations</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>
</div>
